body{
	background: #93dbac;
	width:1000px;
}

form{
	border:1px solid black;
	padding:10px;
	margin:10px;
}


div{
	width:1000px;
	display:flex;
	
}

label{
	width:45%;
	background:#faf3d6;
	color:#145e85;
	margin:5px;
	font-family:Algerian,Arial,Helvetica;
	
}


input{
width:45%;	
background:#9c532e;
color:#faf3d6;
font-family:Algerian,Arial,Helvetica;
}

textarea{
	width:45%;
	background:#9c532e;
	
color:#faf3d6;
font-family:Algerian,Arial,Helvetica;
}
button{
	width:45%;
	background:#9c532e;
color:#faf3d6;
font-family:Algerian,Arial,Helvetica;
margin:5px;
};
